<html>
<head>
    <title>Infuze</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="verify-mail-container"> 
        <h3 class="h3-heading">Verify you email address</h3>
        <p>A verification code has been sent to your registered email address. Please enter the code below to activate your account.</p>
        <p>
            <input type="text" title="Confirmation code" id="input-verify" placeholder="Enter Verification code"> <br>
            Haven't received the code? <a href="#"><u>Resend Code</u></a>
        </p>
        <button type="button" class="btn-verify">Verify</button>
    </div>
</body>
</html>